<div class="place" ng-init="placeRequest.vars.viewMenu = true">
    <div class="content">
        <button class="btn__default" type="button" ng-click="null">Solicitar fechamento do pedido</button>
        <button type="button" ng-click="placeRequest.vars.viewMenu = true; placeRequest.vars.viewRequests = false">
            Cardápio
        </button>
        <button type="button" ng-click="placeRequest.vars.viewMenu = false; placeRequest.vars.viewRequests = true">
            Meus pedidos feitos
        </button>

        <section ng-if="placeRequest.vars.viewRequests"></section>

        <md-button class="md-fab btn-float-right" aria-label="refresh" ng-disabled="placeRequest.vars.sendDisabled" ng-click="placeRequest.functions.controlRequest.sendRequest.sendRequest()">
            Enviar
        </md-button>

        <section ng-if="placeRequest.vars.viewMenu" class="place__info">
            <input class="input-default" ng-model="placeRequest.vars.search" placeholder="Procurar um produto">

            <div ng-if="placeRequest.vars.listPromotion.length > 0">
                <h3>Promoçao</h3>
            </div>

            <div ng-repeat="data in placeRequest.vars.listPromotion | filter:{productName : placeRequest.vars.search}:strict">
                <ul class="bars" ng-click="placeRequest.functions.addProducts(data)">
                    <li class="bars__bar">
                        <div class="bars__info">
                            <img ng-if="data.imgPath" ng-src="http://localhost/files/imgProducts/{{data.imgPath}}"> {{data.productName}} | {{data.value | currency:'R$':2}} | {{data.promotionValue | currency:'R$':2}}

                            <div>
                                <button ng-click="placeRequest.functions.controlRequest.addInGeneral(data)">+</button>
                                {{data.amountInRequest}}
                                <button ng-click="placeRequest.functions.controlRequest.removeToGeneral(data)">-</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div ng-repeat="data in placeRequest.vars.listByCategoryFilter">
                <div ng-if="data.products.length > 0">
                    <h3>{{data.categoryName}}</h3>
                </div>

                <div class="bars__list" ng-repeat="data2 in data.products | filter:{productName : placeRequest.vars.search}:strict">
                    <ul class="bars" ng-click="placeRequest.functions.addProducts(data2)">
                        <li class="bars__bar">
                            <div class="bars__info">
                                <div class="bars__info-logo">
                                    <img class="bars__info-img" ng-if="data2.imgPath" ng-src="http://localhost/files/imgProducts/{{data2.imgPath}}">
                                </div>
                                <div class="bars__info-description">
                                    <p class="bars__info-name">
                                        {{data2.productName}}
                                    </p>
                                    <p class="bars__info-value">
                                        {{data2.value | currency:'R$':2}}
                                    </p>
                                    <p class="bars__info-value-promo">
                                        {{data2.promotionValue | currency:'R$':2}}
                                    </p>
                                </div>

                                <div>
                                    <button ng-click="placeRequest.functions.controlRequest.addInGeneral(data2)">+</button>
                                    {{data2.amountInRequest}}
                                    <button ng-click="placeRequest.functions.controlRequest.removeToGeneral(data2)">-</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>