<section class="resume">
    <div class="content">

        <h2 class="resume__title">Resumo do pedido f</h2>

        <div class="resume__info-group">
            <div class="resume__info-by-order">
                <div class="resume__tag-group">
                    <span class="resume__tag">Data</span>
                    <span class="resume__info">{{resumeToEnd.vars.dataResume.dateCreate | date:'dd/MM/yyyy'}}</span>
                </div>
                <div class="resume__tag-group">
                    <span class="resume__tag">Hora</span>
                    <span class="resume__info">{{resumeToEnd.vars.dataResume.dateCreate | date:'HH:mm'}}</span>
                </div>
            </div>
        </div>

        <div class="resume__info-group">
            <div class="resume__info-by-order" ng-repeat="data in resumeToEnd.vars.listProducts">
                <div class="resume__tag-group">
                    <span class="resume__tag">Produto</span>
                    <span class="resume__info">{{data.productName}}</span>
                </div>
                <div class="resume__tag-group">
                    <span class="resume__tag">Quantidade</span>
                    <span class="resume__info">{{data.amount}}</span>
                </div>
                <div class="resume__tag-group">
                    <span class="resume__tag">Valor</span>
                    <span class="resume__info">R$ {{data.value}}</span>
                </div>
            </div>
        </div>

        <div class="resume__info-group">
            <div class="resume__info-by-order">
                <div class="resume__tag-group">
                    <span class="resume__tag">Total</span>
                    <span class="resume__info">R$ {{resumeToEnd.vars.total | currency:"R$"}}</span>
                </div>
            </div>
        </div>
    </div>
</section>