.welcome {
    position: relative;
    .welcome__video {
        width: 100%;
        @media (max-width: $break-to-mobile){
            display: none;
        }
    }
    .welcom__bg-mobile{
        position: relative;
        display: block;
        background: url(/files/img/index-welcome-bg.jpg) no-repeat;
        background-size: cover; 
        @media (max-width: $break-to-mobile){
            display: block;
        }
        .welcome__msg {
            font-size: 4em;
            color: #fff;
            display: block;
            text-align: center;
            position: absolute;
            text-shadow: 1px 1px 1px #000;
            right: 0;
            left: 0;
            margin: auto;
            -webkit-animation: text-appears 3s ease-in-out;
            animation: text-appears 3s ease-in-out;
            @media (min-width: $break-to-mobile) {
                bottom: 190px;
            }
            @media (max-width: $break-to-mobile){
                font-size: 2em;
                position: relative;
                padding: 40% 0 30% 0;
            }
            @media (min-width: 1125px) {
                bottom: 280px;
            }
            @media (min-width: 1200px) {
                bottom: 320px;
            }
        }
    }
}   

.who-are-we {
    padding: 20px 0;
    clear: both;
    @media (max-width: $break-to-mobile){
        text-align: center;
    }
    &:nth-of-type(2) {
        overflow: hidden;
    }
    &:nth-of-type(3) {
        margin-top: 70px;
        background: #eee;
        @media (max-width: $break-to-mobile){
            margin-top: 0;
        }
        .who-are-we__article {
            width: 65%;
            margin-bottom: 20px;
            @media (max-width: $break-to-mobile){
                width: 100%;
            }
        }
        .who-are-we__img-app {
            position: absolute;
            width: 30%;
            max-width: 319px;
            box-shadow: 5px 5px 130px #aaa;
            right: 0;
            top: -65px;
            @media (max-width: $break-to-mobile){
                position: relative;
                width: 100%;
                top: 0;
                margin-bottom: 30px;
            }
        }
    }
    .who-are-we__reasons {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 70px;
        .who-are-we__reason {
            width: 250px;
            float: left;
            margin-right: 110px;
            @media (max-width: $break-to-mobile){
                display: block;
                width: 100%;
                margin-bottom: 50px;
            }
            &:nth-child(3){
                margin-right: 0;
            }
            .who-are-we__icon {
                font-size: 6em;
                color: $main-color;
            }
            .who-are-we__reason-title {
                font-size: 1.5em;
                font-weight: bold;
                margin: 15px 0;
            }
            .who-are-we__reason-parag {
                line-height: 25px;
            }
        }
    }
    .who-are-we__title {
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .who-are-we__parag {
        font-size: 1.2em;
        line-height: 25px;
        text-align: justify;
    }
    .who-are-we__store {
        display: inline-block;
        margin-right: 10px;
        .who-are-we__img-store {
            width: 175px;
        }
    }
}

.contact {
    margin-top: 35px;
    padding: 20px 0;
    .contact__title {
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .footer__span {
        font-size: 1.2em;
    }
}

@-webkit-keyframes text-appears {
    0% {
        left: -200px;
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes text-appears {
    0% {
        left: -200px;
        opacity: 0;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}