.header{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background: $main-color;
    color: $secundary-color;
    overflow: hidden;
    .header__title{
        float: left;
        font-size: 2em;
        font-weight: bold;
        padding: 20px 0;
    }
    .menu{
        float: right;
        padding: 3% 0;
        .menu__item{
            display: inline-block;
            margin-left: 25px;
            .menu__link{
                color: $secundary-color;
                text-decoration: none;
                text-transform: uppercase;
            }   
        }
    }
}