.header{
    max-width: 1500px;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background: $main-color;
    color: $secundary-color;
    overflow: hidden;
    .header__menu-icon{
        display: none;
        height: 23px;
        @media (max-width: $break-to-mobile){
            display: block;
            font-size: 1.5em;
            position: absolute;
            top: 70px;
            bottom: 0;
            right: 0;
            margin: auto;
        }
    }
    .header__title{
        float: left;
        font-size: 2em;
        font-weight: bold;
        padding: 20px 0;
    }
    .menu{
        float: right;
        padding: 3% 0;
        .menu__itens{
            @media (max-width: $break-to-mobile){
                display: none;
            }
        }
        .menu__item{
            display: inline-block;
            margin-left: 25px;
            cursor: pointer;
            .menu__link{
                color: $secundary-color;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
            }   
        }
    }
}
    