@import url('https://fonts.googleapis.com/css?family=Dosis|Roboto');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Dosis', sans-serif;
}

.centralizer{
    width: 80%;
    margin: 0 auto;
}

.content{
    max-width: 1500px;
    margin: 0 auto;
}

.header{
    width: 100%;
    background: $main-color;
    color: $secundary-color;
    overflow: hidden;
    .header__title{
        float: left;
        font-size: 2em;
        font-weight: bold;
        padding: 2% 0;
    }
    .menu{
        float: right;
        padding: 3% 0;
        .menu__item{
            display: inline-block;
            margin-left: 25px;
            .menu__link{
                color: $secundary-color;
                text-decoration: none;
                text-transform: uppercase;
            }   
        }
    }
}