<div>
    <a ui-sref="user.mainList">Voltar para lista de bares</a>

    <br><br>

    <p>-- Info place</p>
    <div>
        <img ng-src="http://192.168.1.103/files/logoProfile/{{place.vars.dataPub.logoPath}}" style="width: 50px; height: 50px">
        <br><p>Descrição: {{place.vars.dataPub.description}}</p><br>
    </div>
    <div>
        <a ng-click="place.functions.externalLink(place.vars.dataPub.pageFacebook, '_system', 'yes')">Facebook</a>
        <a ng-click="place.functions.externalLink(place.vars.dataPub.pageInstagram, '_system', 'yes')">Instagram</a>
        <a ng-click="place.functions.externalLink(place.vars.dataPub.webSite, '_system', 'yes')">WebSite</a>
        <a ng-click="place.functions.externalLink('https://www.google.com.br/maps/dir/' +place.vars.userLat+ ',' +place.vars.userLong + '/' +place.vars.dataPub.address+ ' - ' +place.vars.dataPub.number, '_system', 'yes')">Como chegar?</a>
    </div>
    <p>-- Info place</p><br><br>
</div>

{{place.vars.dataPub | json}}