<md-content>
    <div layout="row" layout-align="center center">
        <md-card flex="40">
            <md-card-title>
                <span>
                    Olá :)<br>
                    Redefina sua senha abaixo:
                </span>
            </md-card-title>

            <md-card-content>
                <form name="formReset">
                    <md-input-container flex="100">
                        <label>Senha</label>
                        <input type="password" name="password" ng-model="recoveryPassword.vars.password" required>

                        <div ng-messages="formReset.password.$error">
                            <div ng-message="required">
                                Este campo é obrigatório.
                            </div>
                            <div ng-message="notMatch">
                                As senhas não são iguais.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Repita a senha</label>
                        <input type="password" name="repPassword" ng-model="recoveryPassword.vars.repPassword" ng-disabled="!recoveryPassword.vars.password" required>

                        <div ng-messages="formReset.repPassword.$error">
                            <div ng-message="required">
                                Este campo é obrigatório.
                            </div>
                            <div ng-message="notMatch">
                                As senhas não são iguais.
                            </div>
                        </div>
                    </md-input-container>
                </form>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <div flex></div>
                <md-button
                        class="md-primary md-raised"
                        ng-click="recoveryPassword.functions.resetPassword.action()"
                        ng-disabled="(!recoveryPassword.vars.password || !recoveryPassword.vars.repPassword) ||
                         (recoveryPassword.vars.password !== recoveryPassword.vars.repPassword)">
                    Enviar
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>