<md-dialog aria-label="Products" style="width: 1200px">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Produtos</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="saveProducts.functions.hide()">
                <md-icon class="icon-28">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <md-card-title flex="100">
                <md-card-title-text>
                    <span class="md-dialog-title">Informações do Produto</span>
                </md-card-title-text>
            </md-card-title>

            <div layout="row" style="margin-top: 50px">
                <div flex="25" style="margin-left: 50px">
                    <img ng-if="saveProducts.vars.imgPath && !saveProducts.vars.files"
                         ng-src="files/imgProducts/{{saveProducts.vars.imgPath}}"
                         style="width: 200px; height: 200px"
                         alt="" />

                    <img ng-if="saveProducts.vars.files"
                         style="width: 200px; height: 200px"
                         ngf-thumbnail="saveProducts.vars.files || '/thumb.jpg'">
                </div>

                <div flex="70">
                    <input class="ng-hide"
                           id="input-file-id"
                           type="file"
                           name="files"
                           ng-model="saveProducts.vars.files"

                           ngf-select
                           ngf-pattern="'image/*'"
                           ngf-accept="'image/*'"
                           ngf-multiple="false">

                    <label for="input-file-id"
                           class="md-button md-raised md-accent">
                        inserir imagem do produto
                    </label>
                    <md-input-container class="md-block"
                                        flex="70"
                                        style="margin: 0; top: 13px; left: 5px;">
                        <label>Recomendamos subir imagens com 200px de largura e 200px de altura</label>
                        <input name="files-name"
                               ng-model="saveProducts.vars.filesName"
                               readonly>
                    </md-input-container>
                </div>
            </div>

            <div layout="row">
                <md-input-container flex="100">
                    <label>Nome do produto</label>
                    <input ng-model="saveProducts.vars.productName">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="100">
                    <label>Valor</label>
                    <input type="number" ng-model="saveProducts.vars.value">
                </md-input-container>

                <md-input-container flex="100">
                    <label>Valor em promoção</label>
                    <input type="number" ng-model="saveProducts.vars.promotionValue">

                    <md-tooltip>
                        Deixe em branco caso não esteja em promoção
                    </md-tooltip>
                </md-input-container>

                <md-input-container flex="100">
                    <label>Quantidade</label>
                    <input type="number" ng-model="saveProducts.vars.amount">
                </md-input-container>

                <md-input-container flex="100">
                    <label>Categoria</label>
                    <md-select ng-model="saveProducts.vars.categoryID" aria-label="type">
                        <md-option ng-repeat="item in saveProducts.vars.listCategory"
                                   aria-label="{{item.categoryName}}"
                                   value="{{item._id}}">
                            {{item.categoryName}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="saveProducts.functions.hide()">
            Cancelar
        </md-button>
        <span flex></span>

        <md-button ng-click="saveProducts.functions.saveAndNew.doSave()">
            Salvar e inserir um novo
        </md-button>
        <md-button ng-click="saveProducts.functions.save.doSave()">
            Salvar
        </md-button>
    </md-dialog-actions>
</md-dialog>