<md-content>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>RhinozWeb</span>
            </h2>
            <span flex></span>
            <md-button aria-label="Example">
                Exemplo
            </md-button>
            <md-button aria-label="Quem somos">
                Quem somos
            </md-button>
            <md-button ui-sref="login" aria-label="Login">
                Login
            </md-button>
        </div>
    </md-toolbar>
</md-content>