<div class="modal">
    <header class="modal__header">
        <div class="modal__centralizer">
            <h2 class="modal__title">Acessar o ServeJá</h2>
            <span class="modal__close-icon" ng-click="login.functions.cancel()">
                <i class="icon-28">close</i>
            </span>
        </div>
    </header>

    <div class="modal__centralizer">
        <form class="modal__form" name="loginForm">
            <div ng-show="!login.vars.forgotPasswordAction">
                <div class="modal__label-input">
                    <label for="name" class="modal__label">E-mail</label>
                    <input class="modal__input" id="name" name="username" ng-model="login.vars.username" required autofocus>
                    <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched">
                         <div ng-message="required">
                            Insira seu e-mail.
                        </div>
                        <div ng-message="userPassFound">
                            Usuário ou senha incorretos.
                        </div>
                    </div>
                </div>

                <div class="modal__label-input">
                    <label for="pass" class="modal__label">Senha</label>
                    <input class="modal__input" id="pass" name="password" ng-model="login.vars.password" type="password" required>
                    <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                        <div ng-message="required">
                            Insira sua senha.
                        </div>
                        <div ng-message="userPassFound">
                            Usuário ou senha incorretos.
                        </div>
                    </div>
                </div>

                <ul class="actions">
                    <li class="actions__action">
                        <a class="btn-default btn-default-login"
                           ng-click="login.functions.loginAction()"
                           ng-disabled="!login.vars.username || !login.vars.password"
                           disabled="disabled">Entrar</a>
                    </li>
                    <li class="actions__action">
                        <a class="other-link" ng-click="login.vars.forgotPasswordAction = true">Esqueci minha senha</a>
                    </li>
                    <li class="actions__action">
                        <a class="other-link" ng-click="login.functions.signUP()">Não sou cadastrado(a)</a>
                    </li>
                </ul>
            </div>

            <div ng-show="login.vars.forgotPasswordAction">
                <div class="modal__label-input">
                    <label class="modal__label">Entre com o e-mail de cadastro</label>
                    <input class="modal__input" name="forgotPass" ng-model="login.vars.recoveryEmail" required>
                    <div ng-messages="loginForm.forgotPass.$error" ng-if="loginForm.forgotPass.$touched">
                    <span ng-message="required">
                        Insira seu e-mail de cadastro para enviarmos o link de recuperação de senha.
                    </span>
                        <div ng-message="userFound">
                            Usuário(a) não foi encontrado.
                        </div>
                    </div>
                </div>

                <ul class="actions">
                    <li class="actions__action">
                        <a class="btn-default btn-default-login"
                           ng-click="login.functions.recoveryPasswordSend()"
                           ng-disabled="!login.vars.recoveryEmail" disabled="disabled">
                            Recuperar senha
                        </a>
                    </li>
                    <li class="actions__action">
                        <a class="other-link" ng-click="login.functions.signUP()">
                            Não sou cadastrado(a)
                        </a>
                    </li>
                    <li class="actions__action">
                        <a class="other-link" ng-click="login.vars.forgotPasswordAction = false">
                            Voltar para login
                        </a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>