<div class="content-wrapper">
    <div layout="row" layout-align="center center">
        <md-card flex-gt-sm="40" layout-padding>
            <md-card-title>
                <md-card-title-text>
                    Editar Perfil
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <div layout="row">
                    <md-list flex>
                        <md-list-item ng-click="">
                            <img ng-if="profile.vars.userProfile.photoUrl && !profile.vars.filePreview"
                                 ng-src="{{profile.vars.userProfile.photoUrl}}"
                                 class="md-avatar"
                                 style="width: 150px; height: 150px">

                            <img ng-if="!profile.vars.userProfile.photoUrl && !profile.vars.filePreview"
                                 ng-src="/files/img/profile.jpg"
                                 class="md-avatar"
                                 style="width: 150px; height: 150px" />

                            <img ngf-thumbnail="profile.vars.filePreview"
                                 class="md-avatar"
                                 style="width: 150px; height: 150px">

                            <div flex></div>

                            <form>
                                <input class="ng-hide"
                                       id="input-file-id"
                                       type="file"
                                       ng-model="profile.vars.filePreview"
                                       ngf-select
                                       ngf-accept="'image/*'"
                                       name="file">
                                <label for="input-file-id"
                                       class="md-button md-raised md-accent">
                                    Atualizar foto
                                </label>
                            </form>

                        </md-list-item>
                    </md-list>

                    </md-button>
                </div>

                <div layout="row">
                    <md-input-container flex-gt-sm="90">
                        <label>Nome</label>
                        <input ng-model="profile.vars.userProfile.displayName">
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex-gt-sm="90">
                        <label>Telefone</label>
                        <input ng-model="profile.vars.userProfile.phoneNumber">
                    </md-input-container>
                </div>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <div flex></div>
                <md-button ng-click="profile.functions.updateProfile()"
                        ng-disabled="!profile.vars.filePreview ||
                        !profile.vars.userProfile.displayName ||
                        !profile.vars.userProfile.phoneNumber"
                        class="md-primary md-raised">
                    Salvar alterações
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>