<!--
quando header.vars.profile.status for TRUE ele estará logado com face
-->

<div class="header">

    <div class="content">
        <button class="btn__default" type="button" ng-if="!header.vars.profile.status" ui-sref="login">
            Login
        </button>

        <button class="btn__default" type="button" ng-if="header.vars.profile.status" ng-click="header.functions.doLogout()">
            Logout
        </button>
    </div>

    <ul class="header__actions">
        <li class="header__actions-action">
            <a class="header__actions-btn">
                <i class="fa fa-bars header__actions-icon"></i>
                <span class="header__actions-descrip">Menu</span>
            </a>
        </li>

        <li class="header__actions-action">
            <a class="header__actions-btn" ui-sref="user.mainList({action : 'nearToMe'})">
                <i class="fa fa-map-marker header__actions-icon"></i>
                <span class="header__actions-descrip">Bares próximos</span>
            </a>
        </li>

        <li class="header__actions-action">
            <a class="header__actions-btn" ui-sref="user.mainList({action : 'findLocal'})">
                <i class="fa fa-search header__actions-icon"></i>
                <span class="header__actions-descrip">Achar bares</span>
            </a>
        </li>

        <li class="header__actions-action">
            <a class="header__actions-btn" ui-sref="user.mainList({action : 'favorites'})">
                <i class="fa fa-star header__actions-icon"></i>
                <span class="header__actions-descrip">Favoritos</span>
            </a>
        </li>
    </ul>

</div>