<!--
quando header.vars.profile.status for TRUE ele estará logado com face
-->

<button class="button__app" ng-if="!header.vars.profile.status" ui-sref="login">
    login
</button>

<div class="header">

    <i class="fa fa-bars header__icon"></i>
    <img class="header__img" ng-if="header.vars.profile.status" ng-src="http://localhost/files/logoProfile/158dmbw4pTgCxPLjelakbFiL.jpg">

    <ul class="actions">
        <li class="actions__action">
            <a class="actions__btn" ui-sref="user.mainList({action : 'nearToMe'})">
                <i class="fa fa-map-marker actions__icon"></i>
                <span class="actions__descrip">Perto de mim</span>
            </a>
        </li>

        <li class="actions__action">
            <a class="actions__btn" ui-sref="user.mainList({action : 'findLocal'})">
                <i class="fa fa-search actions__icon"></i>
                <span class="actions__descrip">Bares perto de</span>
            </a>
        </li>

        <li class="actions__action">
            <a class="actions__btn" ui-sref="user.mainList({action : 'favorites'})">
                <i class="fa fa-star actions__icon"></i>
                <span class="actions__descrip">Favoritos</span>
            </a>
        </li>
    </ul>

</div>