<div class="login center">
    <div class="login__blur"></div>

    <div class="center">
        <form class="login__form" name="loginForm">
            <div>
                Entre com facebook
            </div>

            <div layout="row" style="margin-top: 40px" layout-align="center">
                <div flex="50">
                    <md-button class="md-primary md-raised" ng-click="login.functions.loginFacebook()">Entrar</md-button>
                </div>

                <div flex="50">
                    <md-button class="md-primary md-raised" ng-click="login.functions.loginHack()">Hack</md-button>
                </div>
            </div>
        </form>
    </div>
</div>