.active:before {
    opacity:1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left:3px;
    margin-top:0px;
  }
  
  .dataContent {
    height:0px;
    overflow:hidden;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
  }
  
  .activeContent {
    height:auto;
    padding-top: 12px;
    display:block;
  }