.contentControlView{

    md-input-container{
      padding: 2px !important;
      margin: 2px !important;
      height: 40px;
    }
  
    .layout-padding{
      padding: 8px 0 0 8px !important;
    }
  
    md-divider{
      margin: 20px !important;
    }
  
    .md-select-placeholder span:first-child{
      color: white !important;
    }
  
    paddingDiv{
      margin: 20px !important;
    }
  }