@import url('https://fonts.googleapis.com/css?family=Dosis|Roboto');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Dosis', sans-serif;
}

.content{
    max-width: 1500px;
    margin: 0 auto;
}

.centralizer{
    width: 970px;
    margin: 0 auto;
    position: relative;
}

a{
  text-decoration: none;
  outline:none
}

a:hover, a:link, a:visited, a:active{
  text-decoration: none;
  cursor: pointer;
  outline:none
}

md-icon{
  outline:none
}

.label{
  color: grey !important;
}

.buttonFixedRight{
  position: fixed;
  float: right;
  left: 92%;
  top: 85%;
}

md-tooltip{
  font-size: 15px;
}

md-tooltip .md-content{
  height: auto !important;
}

.avatar-profile{
  border-radius: 100%;
  width: 100px;
  height: 100px;
}