a{
  text-decoration: none;
  outline:none
}

a:hover, a:link, a:visited, a:active{
  text-decoration: none;
  cursor: pointer;
  outline:none
}

md-icon{
  outline:none
}

.label{
  color: grey !important;
}

.buttonFixedRight{
  position: fixed;
  float: right;
  left: 92%;
  top: 85%;
}

md-tooltip{
  font-size: 15px;
}

md-tooltip .md-content{
  height: auto !important;
}

.avatar-profile{
  border-radius: 100%;
  width: 100px;
  height: 100px;
}