.content {
    width: 95%;
    margin: 0 auto;
}

.near-bars {
    text-align: center;
    color: #616161;
    margin: 20px 0;
    .near-bars__locale {
        font-weight: bold;
    }
}

.btn__default {
    width: 100%;
    text-align: center;
    background: $main-color;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    padding: 10px 0;
    border-radius: 30px;
    margin: 10px auto 0 auto;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    transition: .1s ease;
}

.btn__default--pay{
    margin-bottom: 20px;
    transition: .1s ease;
}

.btn-float-right{
    position: fixed;
    float: right;
    left: 82%;
    top: 80%;
    outline: none;
    transition: .1s ease;
}

.btn__send{
    box-shadow: 0px 1px 20px -4px #000;
    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: $main-color;
    color: $secondary-color;
    border: none;
    font-weight: bold;
    outline: none;
    transition: .1s ease;
}

.btn__default-back{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: $main-color;
    color: $secondary-color;
    border: none;
    font-weight: bold;
    outline: none;
    transition: .1s ease;
    position: fixed;
    top: 17px;
    font-size: 0.9em;
}

.btn__default:active,
.btn__default--pay:active,
.btn-float-right:active,
.btn__send:active,
.btn__default-back:active{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}