.content {
    width: 95%;
    margin: 0 auto;
}

.near-bars {
    text-align: center;
    color: #616161;
    margin: 20px 0;
    .near-bars__locale {
        font-weight: bold;
    }
}

.btn__default {
    width: 100%;
    text-align: center;
    background: $main-color;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    padding: 10px 0;
    border-radius: 30px;
    margin-top: 10px;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
}

.btn-float-right{
    position: fixed;
    float: right;
    left: 82%;
    top: 80%;
    outline: none;
}

.btn__send{
    box-shadow: 0px 1px 20px -2px #000;
    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: $main-color;
    color: $secondary-color;
    border: none;
    font-weight: bold;
    outline: none;
}