.content {
    width: 95%;
    margin: 0 auto;
}

.near-bars {
    text-align: center;
    color: #616161;
    margin: 20px 0;
    .near-bars__locale {
        font-weight: bold;
    }
}

.btn__default {
    width: 100%;
    text-align: center;
    background: $main-color;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    padding: 10px 0;
    border-radius: 30px;
    margin-top: 10px;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
}