.header {
    background: $main-color;
    position: relative;
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
    .header__icon {
        position: absolute;
        font-size: 30px;
        color: $secondary-color;
        top: 15px;
        left: 15px;
    }
    .header__img {
        margin-top: 35px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .header__actions {
        margin-top: 5px;
        .header__actions-action {
            float: left;
            padding: 10px 0;
            width: 25%;
            .header__actions-btn {
                text-decoration: none;
                text-align: center;
                color: $secondary-color;
                font-size: 0.6em;
                display: block;
                padding: 10px 5px;
                &:focus {
                    background: $hover-menu;
                    color: $secondary-color;
                }
                .header__actions-icon {
                    display: block;
                    position: relative;
                    font-size: 1.7em;
                    margin-bottom: 10px;
                }
            }
        }
    }
}