/* BASE */
@import 'components/base/reset';

/* VARIABLES */
@import 'components/variables/variables';

/* LAYOUT */
@import 'components/layout/buttons/buttons';
@import 'components/layout/modals/modals';
@import 'components/layout/home/header';
@import 'components/layout/home/sections';
@import 'components/layout/home/footer';
@import 'components/layout/loadingBar/loadingBar';


@import 'components/material-icons';
@import 'components/background';
@import 'components/scrollbar';
@import 'components/nav';
@import 'components/contentControlView';
@import 'components/collapse';
@import 'components/general';